@font-face {
    font-family: 'pelagiadregular';
    src: url('../font/pelagiad-webfont.woff2') format('woff2'),
        url('../font/pelagiad-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "pelagiadregular";
    color: #caa560;
    background-color: black;
    font-size: 1.2rem;
    height:100vh;
}

/* Navbar */

#mw-nav {
    background-image: url(../img/ui/dialog_header.png);
    background-size: contain;
    box-sizing: border-box;
    border-bottom: 1px solid #caa560;
    padding: 0.2rem 0 0.2rem;
}

#mw-title {
    color: #caa560;
    background-color: black;
    padding: 0 0.4rem 0 0.4rem;
    font-size: 1.6rem;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid #caa560;
}

/* Browser */

#mw-browser {
    height: 100vh;
    margin-top: -3rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

#mw-browser-card {
    max-height: 100%;
}

#mw-browser-select {
    width: fit-content;
    margin: 0 auto;
    font-size: 1.2rem;
    text-align: center;
}

.dataTables_filter {
    display: none;
}

/* Generic */

.mw-card {
    color: #caa560;
    background-color: black;
    border: 1px solid #caa560;
    border-radius: 0;
}

.mw-card-header {
    background-image: url(../img/ui/dialog_header.png);
    background-size: contain;
    box-sizing: border-box;
    border-bottom: 1px solid #caa560;
    text-align: center;
    padding: 0.2rem 0 0.2rem;
}

.mw-card-body {

}

.mw-button {
    color: #caa560;
    background-color: black;
    border: 1px solid #caa560;
    border-radius: 0;
    padding: 0 0.4rem 0 0.4rem;
}

.mw-table {
    
}

.mw-table th, .mw-table td {
    background-color: black;
    color: #caa560;
}

input,
input:active,
input:focus, 
select,
select:active,
select:focus {
    color: #caa560 !important;
    background-color: black !important;
    border: 1px solid #caa560 !important;
    border-radius: 0 !important;
    padding: 0 0.4rem 0 0.4rem !important;
    box-shadow: none !important;
}

/* Scrollbar */

::-webkit-scrollbar {
    border: 1px solid #caa560;
}

::-webkit-scrollbar-track {
    background: black;
    border: 1px solid #caa560;
}

::-webkit-scrollbar-corner {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: url(../img/ui/dialog_header.png);
    border: 1px solid #caa560;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px black;
}

::-webkit-scrollbar-button {
    background: url(../img/ui/dialog_header.png);
    border: 1px solid #caa560;
}

/* Tooltip */
.mw-tooltip {
    color: #caa560 !important;
    background-color: black;
    font-family: "pelagiadregular";
    border: 1px solid #caa560;
    border-radius: 0%;
}

.mw-tooltip .tooltip-arrow {
    display: none;
}

.mw-tooltip .tooltip-inner {
    color: #caa560 !important;
    font-size: 1rem;
}