/* Page Style */
#mw-nav {
    background-image: url(../img/ui/dialog_header.png);
    background-size: contain;
    background-repeat: repeat;
    font-family: "pelagiadregular";
    color: #caa560;
    border-bottom: 2px solid #caa560;
    margin-bottom: 1rem;
}

body {
    background-color: black;
}

/* Morrowind Browser Specific */

.mwb-table {
    line-height: 38px;
    color: #caa560;
    background-color: black;
}

.mwb-table td, .mwb-table th {
    line-height: 38px;
    color: #caa560;
    background-color: black;
}

.form-control {
    color: #caa560;
    border: 1px solid #caa560;
    background-color: black;
    border-radius: 0;
    font-size: 1.2rem;
}

.form-control:active, .form-control:focus {
    color: #dfc99f;
    border: 1px solid #dfc99f;
    background-color: black;
    box-shadow: none;
}


/* Generic Morrowind Style Elements */

@font-face {
    font-family: 'pelagiadregular';
    src: url('../font/pelagiad-webfont.woff2') format('woff2'),
        url('../font/pelagiad-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.mw-card {
    font-family: "pelagiadregular";
    border: 2px solid #caa560;
    border-radius: 0%;
    color: #caa560;
}

.mw-card-header {
    background-image: url(../img/ui/dialog_header.png);
    background-size: contain;
    background-repeat: repeat;
    border-radius: 0% !important;
    text-align: center;
    padding: 0.2rem;
    border: none;
    border-bottom: 2px solid #caa560;
}

#mw-title {
    margin: 0 auto;
    font-size: 1.4rem;
}

#mw-nav {
    padding:0.1rem;
}

.mw-card-title {
    margin: 0 auto;
    background-color: black;
    width: min-content;
    font-size: 1.5rem;
    padding: 0.3rem 1rem 0.3rem 1rem;
}

.mw-card-body {
    background-color: black;
    font-size: 1.2rem;
}

.mw-button {
    color: #caa560;
    background-color: black;
    font-family: "pelagiadregular";
    border: 1px solid #caa560;
    border-radius: 0%;
    padding: 0.3rem 1rem 0.3rem 1rem;
}

.mw-button:hover {
    color: #dfc99f;
    border: 1px solid #dfc99f;
    background-color: black;
    font-family: "pelagiadregular";
    border-radius: 0%;
    padding: 0.3rem 1rem 0.3rem 1rem;
}

.mw-button:active, .mw-button.active, .mw-button:focus,
.mw-button.focus {
    color: #f3eddd;
    border: 1px solid #f3eddd;
    background-color: black;
    font-family: "pelagiadregular";
    border-radius: 0%;
    padding: 0.3rem 1rem 0.3rem 1rem;
}

.mw-tooltip {
    color: #caa560 !important;
    background-color: black;
    font-family: "pelagiadregular";
    border: 1px solid #caa560;
    border-radius: 0%;
}

.mw-tooltip .tooltip-arrow {
    display: none;
}

.mw-tooltip .tooltip-inner {
    color: #caa560 !important;
    font-size: 1rem;
}

/* width */
::-webkit-scrollbar {
    border: 1px solid #caa560;
}

::-webkit-scrollbar-track {
    background: black;
    border: 1px solid #caa560;
}

::-webkit-scrollbar-corner {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: url(../img/ui/dialog_header.png);
    border: 1px solid #caa560;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px black;
}

::-webkit-scrollbar-button {
    background: url(../img/ui/dialog_header.png);
    border: 1px solid #caa560;
}
