################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tool/EspConverter/.vs
/tool/EspConverter/bin
/tool/EspConverter/obj
/tool/EspConverter/Properties
