################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tool/EspConverter/.vs/EspConverter
/tool/EspConverter/bin/Debug/net8.0
/tool/EspConverter/obj
/tool/EspConverter/Properties
